<h3>Reactive - Básicos</h3>
<hr />
<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="formulario">
      <!--Nombre del producto-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Producto </label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del producto"
            formControlName="nombre"
          />
          <span class="form-text text-danger" *ngIf="validarCampo('nombre')"
            >Debe ser de 3 letras</span
          >
        </div>
      </div>

      <!--Cantidad del producto-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Precio </label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Precio del producto"
            formControlName="precio"
          />
          <span class="form-text text-danger" *ngIf="validarCampo('precio')"
            >El precio debe ser mayor a cero.</span
          >
        </div>
      </div>

      <!--Existencia del producto-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Existencia </label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Existencias del producto"
            formControlName="existencias"
          />
          <span
            class="form-text text-danger"
            *ngIf="validarCampo('existencias')"
            >Las existencias minimas no pueden ser cero.</span
          >
        </div>
      </div>

      <!--Boton del formulario para submit-->
      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary btn-md float-end"
            [disabled]="formulario.invalid"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
