<h3>Temaplate - Switches</h3>
<hr />
<form #formulario="ngForm">
  <!--Radio botones-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Género</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="F"
          [(ngModel)]="persona.genero"
          name="radioGenero"
          id="radioFemenino"
          required
        />
        <label class="form-check-label" for="radioFemenino">Femenino</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          value="M"
          [(ngModel)]="persona.genero"
          class="form-check-input"
          name="radioGenero"
          id="radioMasculino"
          required
        />
        <label class="form-check-label" for="radioMasculino">Masculino</label>
      </div>
    </div>
  </div>

  <!--Switch botones-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="persona.notificaciones"
          name="notificaciones"
          role="switch"
          id="notificaciones"
          required
        />
        <label class="form-check-label" for="notificaciones"
          >Quiero recibir notificaciones</label
        >
      </div>
    </div>
  </div>

  <!--CheckBox botones-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Términos</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="terminos"
          name="terminos"
          [(ngModel)]="terminosCondiciones"
          required
        />
        <label class="form-check-label" for="terminos">
          Terminos y condiciones
        </label>
      </div>
    </div>
  </div>

  <!--Botón submit-->
  <div class="row mb-3">
    <div class="col-sm-12">
      <button class="btn btn-primary float-end" [disabled]="formulario.invalid">
        Guardar
      </button>
    </div>
  </div>
</form>

<h3>Valor del formulario</h3>
<pre>{{ formulario.value | json }}</pre>
<br />
<h3>Valido</h3>
<pre>{{ formulario.valid }}</pre>
<hr />
<h3>Condiciones:</h3>
